@import "../../../sass/common/mixins";

.link {
	display: block;
	width: 210px;
	padding: 15px 0;
	margin: 0 auto;

	position: relative;

	text-align: center;
	color: var(--color-primary);
	font-weight: 700;

	background-color: var(--color-secondary);
	border-radius: var(--border-radius-lg);
}

@include effect {
	.link {
		@include trans;
	}

	.link:hover {
		background-color: var(--color-secondary-op-90);
	}

	.link:active {
		top: 2px;
	}
}

@include media(400px) {
	.link {
		width: 100%;
		height: 48px;
	}
}
